<app-table
  class="table-container"
  (openUpdateModal)="openUpdateModal($event)"
  (openDeleteModal)="openDeleteModal($event)"
  (openDescriptionModal)="openDescriptionModal($event)"
  [videoList]="videoList"
>
</app-table>

<div class="interaction-container">
  <button class="standard-button" (click)="openCreateModal()">Add Video</button>
  <app-table-pagination
    *ngIf="videoList.length > 0"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [list]="videoList"
    (nextPage)="nextPage()"
    (prevPage)="prevPage()"
    (changePageSize)="changePageSize($event)"
  ></app-table-pagination>
</div>

<app-create-video
  *ngIf="isCreateModalOpen"
  class="modal-container"
  (closePopUp)="closeCreateModal()"
  [environment]="environment"
  [categoryList]="categoryList"
></app-create-video>
<app-update-video
  *ngIf="isUpdateModalOpen && videoToWork != null"
  class="modal-container"
  (closePopUp)="closeUpdateModal()"
  [videoToEdit]="videoToWork"
  [environment]="environment"
  [categoryList]="categoryList"
></app-update-video>
<app-video-description
  *ngIf="isDescriptionModalOpen && videoToWork != null"
  class="modal-container"
  (closePopUp)="closeDescriptionModal()"
  [video]="videoToWork"
></app-video-description>
<app-delete-video
  *ngIf="isDeleteModalOpen && videoToWork != null"
  class="modal-container"
  (closePopUp)="closeDeleteModal()"
  [videoToDelete]="videoToWork"
  [environment]="environment"
></app-delete-video>
