@import "../../../../styles.scss";

.table-container {
  width: 100%;
}

.interaction-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
