@import "../../../../styles.scss";

.card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: $primary-light;
  background-color: $secondary-dark;
  font-size: $font-size-small;
  padding: 6px 8px;
  cursor: pointer;

  &:hover {
    background-color: $primary-grey;
  }

  p {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.selected {
  color: $primary-dark;
  background-color: $primary-light;

  &:hover {
    background-color: $primary-light;
  }
}
