<app-table
  class="table-container"
  (openUpdateModal)="openUpdateModal($event)"
  (openDeleteModal)="openDeleteModal($event)"
  (openUpdatePasswordModal)="openUpdatePasswordModal($event)"
  [userList]="userList"
>
</app-table>

<div class="interaction-container">
  <button class="standard-button" (click)="openCreateModal()">Add User</button>
  <app-table-pagination
    *ngIf="userList.length > 0"
    [currentPage]="currentPage"
    [pageSize]="pageSize"
    [list]="userList"
    (nextPage)="nextPage()"
    (prevPage)="prevPage()"
    (changePageSize)="changePageSize($event)"
  ></app-table-pagination>
</div>

<app-create-user
  *ngIf="isCreateModalOpen"
  class="modal-container"
  (closePopUp)="closeCreateModal()"
  [environment]="environment"
></app-create-user>
<app-update-user
  *ngIf="isUpdateModalOpen && userToWork != null"
  class="modal-container"
  (closePopUp)="closeUpdateModal()"
  [userToEdit]="userToWork"
  [environment]="environment"
></app-update-user>
<app-delete-user
  *ngIf="isDeleteModalOpen && userToWork != null"
  class="modal-container"
  (closePopUp)="closeDeleteModal()"
  [userToDelete]="userToWork"
  [environment]="environment"
></app-delete-user>
<app-update-password
  *ngIf="isUpdatePasswordModalOpen && userToWork != null"
  class="modal-container"
  (closePopUp)="closeUpdatePasswordModal()"
  [userToEdit]="userToWork"
  [environment]="environment"
></app-update-password>
