<div class="header-container">
  <h1 class="logo"><a (click)="clearAllFields()" href="/home">FLIX</a></h1>
  <div class="search-container">
    <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="searchTerm"
      (keyup.enter)="onSearch()"
      autocomplete="off"
    />
    <button *ngIf="searchTerm != ''" class="clear-button" (click)="clear()">
      <i class="material-icons">clear</i>
    </button>
    <button class="search-button" (click)="onSearch()">
      <i class="material-icons">search</i>
    </button>
  </div>
  <h2 class="info-container">
    <a
      class="admin-link"
      href="/admin/home?table=info"
      (click)="clearAllFields()"
      *ngIf="storageService.getToken() && storageService.getToken() != ''"
    >
      A</a
    >
    <a (click)="clearAllFields()" href="/info"
      ><i class="material-icons">info</i></a
    >
  </h2>
</div>
