@import "../../../../../styles.scss";

.popup-container {
  max-height: calc(100vh - 40px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  .title-container {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: $font-size-large;
    }

    .close-button {
      color: $primary-light;
      background-color: transparent;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .form-group {
    margin-bottom: 15px;
    position: relative;

    p {
      font-size: $font-size-small;
    }
  }
}
