@import "../../../../../styles.scss";

.table-container {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px 15px;
    border-bottom: 1px solid $primary-grey;
    text-align: left;
    vertical-align: top;

    &:nth-child(4),
    &:nth-child(5),
    &:last-child {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:nth-child(3) {
      text-align: center;
      img {
        height: $font-size-large;
        border-radius: 8px;
      }
    }

    &:nth-child(4) {
      text-align: center;
      img {
        max-height: $font-size-large;
        border-radius: 4px;
      }
    }

    a {
      text-decoration: none;
      color: $primary-light;

      &:visited {
        color: $primary-light;
      }
    }
  }

  th {
    background-color: $secondary-dark;
    font-weight: bold;
    font-size: $font-size-small;
  }

  td {
    font-size: $font-size-small;

    .link {
      cursor: pointer;
    }
  }

  .interact-video-button {
    color: $primary-light;
    background-color: transparent;
    border: none;
    cursor: pointer;

    i {
      font-size: $font-size-normal;
    }
  }

  .delete {
    margin-left: 15px;
  }
}
