<div class="main-container">
  <h2>Admin Login</h2>

  <form *ngIf="loginForm != null" (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="form-group">
      <input
        class="standard-input"
        autocomplete="off"
        placeholder="Username"
        type="text"
        id="username"
        name="username"
        formControlName="username"
        required
        (input)="clearErrorMessage()"
      />
    </div>

    <div class="form-group">
      <input
        autocomplete="off"
        placeholder="Password"
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        name="password"
        formControlName="password"
        class="standard-input password-input"
        (input)="clearErrorMessage()"
      />
      <button
        type="button"
        class="show-pass-button"
        (click)="togglePasswordVisibility()"
      >
        <i class="material-icons">{{
          showPassword ? "visibility_off" : "visibility"
        }}</i>
      </button>
    </div>

    <p class="error-message" [ngClass]="{ show: showErrorMessage }">
      Invalid username or password.
    </p>

    <button
      type="submit"
      class="standard-button login-button"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
</div>
