@import "../../../../styles.scss";

h2 {
  font-size: $font-size-large;
}

form {
  width: 300px;

  .environment-container {
    position: relative;
    margin-top: 15px;

    .environment-select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
    }

    i {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }

  .form-group {
    position: relative;
    margin-top: 15px;

    .password-input {
      padding-right: 45px;
    }

    .show-pass-button {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: $primary-light;
      border: none;
      background-color: transparent;

      i {
        font-size: $font-size-normal;
      }
    }
  }

  .error-message {
    font-size: 12px;
    color: $primary-red;
    text-align: center;
    visibility: hidden;

    &.show {
      visibility: visible;
    }
  }

  .login-button {
    width: 100%;
    margin-top: 8px;
  }
}
